In [1]:
import pandas as pd

In [2]:
df_30 = pd.read_csv('train/30.csv')

c:\users\guswns\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (2217) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,time,V0000,V0001,V0002,V0003,V0004,V0005,V0006,V0007,...,V5111,V5112,V5113,V5114,V5115,V5116,V5117,V5118,V5119,V5120
0,0,0,0.00000,8.341654,7.063065,7.864078,8.783856,65.067624,99.213120,-0.131843,...,1,1,1,1,0,123.1927,116.4022,0.125090,0,0.022051
1,1,1,0.00000,8.341654,7.063065,7.864078,8.783856,65.067624,99.213120,-0.131843,...,1,1,1,1,0,123.1927,116.4022,0.125090,0,0.022051
2,2,2,0.00000,8.341654,7.063065,7.864078,8.783856,65.067624,99.213120,-0.131843,...,1,1,1,1,0,123.1927,116.4022,0.125090,0,0.022051
3,3,3,0.00000,8.341654,7.063065,7.864078,8.783856,65.067624,99.213120,-0.131843,...,1,1,1,1,0,123.1927,116.4022,0.125090,0,0.022051
4,4,4,0.00000,8.263325,7.035270,7.821122,8.776274,65.067624,99.213120,-0.131843,...,1,1,1,1,0,123.1927,116.4022,0.125090,0,0.022051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,575,575,32.94162,8.450309,7.133818,7.934832,8.801539,31.614264,0.533937,-0.131843,...,1,1,1,1,0,124.1730,116.6738,0.047472,0,0.022033
576,576,576,32.94162,8.450309,7.133818,7.934832,8.801539,31.614264,0.533937,-0.131843,...,1,1,1,1,0,124.1730,116.6738,0.047472,0,0.022033
577,577,577,32.94162,8.450309,7.070647,7.967678,8.756057,31.614264,0.533937,-0.131843,...,1,1,1,1,0,124.1730,116.6738,0.047472,0,0.022033
578,578,578,32.94162,8.450309,7.070647,7.967678,8.756057,31.614264,0.533937,-0.131843,...,1,1,1,1,0,124.1730,116.6738,0.047472,0,0.022033
579,579,579,32.94162,8.450309,7.070647,7.967678,8.756057,41.403067,0.533937,-0.131843,...,1,1,1,1,0,123.9053,116.6738,0.047472,0,0.022033

In [4]:
df_30 = df_30.replace('Equip Fail',0)

In [5]:
df_30 = df_30.replace('Bad',0)

In [6]:
df_30 = df_30.replace('No Data',0)

In [7]:
df_30 = df_30.replace('OFF',0)

In [9]:
df_30 = df_30.replace('ON',1)

In [10]:
df_30 = df_30.replace('OPEN',0)

In [11]:
df_30 = df_30.replace('System.Char[]',0)

In [13]:
df_30 = df_30.replace('CLOSE',0)

In [14]:
df_30 = df_30.replace('MID POSITION',0)

In [15]:
df_30 = df_30.fillna(0)

In [16]:
df_30.to_csv('30.csv')

In [2]:
df_1154 = pd.read_csv('test/1154.csv')
df_1168 = pd.read_csv('test/1168.csv')

In [3]:
df_1154 = df_1154.replace('Equip Fail',0)
df_1154 = df_1154.replace('Bad',0)
df_1154 = df_1154.replace('No Data',0)
df_1154 = df_1154.replace('OFF',0)
df_1154 = df_1154.replace('ON',1)
df_1154 = df_1154.replace('OPEN',0)
df_1154 = df_1154.replace('System.Char[]',0)
df_1154 = df_1154.replace('CLOSE',0)
df_1154 = df_1154.replace('MID POSITION',0)
df_1154 = df_1154.fillna(0)

In [4]:
df_1168 = df_1168.replace('Equip Fail',0)
df_1168 = df_1168.replace('Bad',0)
df_1168 = df_1168.replace('No Data',0)
df_1168 = df_1168.replace('OFF',0)
df_1168 = df_1168.replace('ON',1)
df_1168 = df_1168.replace('OPEN',0)
df_1168 = df_1168.replace('System.Char[]',0)
df_1168 = df_1168.replace('CLOSE',0)
df_1168 = df_1168.replace('MID POSITION',0)
df_1168 = df_1168.fillna(0)

In [5]:
df_1168.to_csv('1168.csv')
df_1154.to_csv('1154.csv')